{% extends 'base.html.twig' %}

{% block title %}Todo index{% endblock %}

{% block body %}
    <div class="container todo_index">
        <h1>Liste des taches</h1>

        <div id="root"></div>

        {{ form_start(filterForm, {'attr': {'class': 'todo_is_done_filter'}} ) }}

           <div class="form-group"> {{ form_row(filterForm.searchTerms) }}</div>

        <div class="form-group">
            {{ form_widget(filterForm.stillTodo ) }}
            {{ form_label(filterForm .stillTodo ) }}
            {{ form_errors(filterForm .stillTodo ) }}
            {{ form_help(filterForm .stillTodo ) }}
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-outline-primary text-left">{{ button_label|default('Filtrer') }}</button>
        </div>
        {{ form_end(filterForm ) }}

        <table class="table">
            <thead>
                <tr>
                    <th><a href="{{ path('app_todo_index')}}?orderby=id&order={{ order }}&searchTerms={{ searchTerms }}&stillTodo={{ stillTodo }}">Id</a></th>
                    <th><a href="{{ path('app_todo_index')}}?orderby=name&order={{ order }}&searchTerms={{ searchTerms }}&stillTodo={{ stillTodo }}">Name</a></th>
                    <th>Fait</th>
                    <th>Catégorie</th>
                    <th>Priorité</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for todo in todos %}
                <tr>
                    <td>{{ todo.id }}</td>
                    <td>{{ todo.name }}</td>
                    <td>{{ todo.isDone ? 'Yes' : 'No' }}</td>
                    <td>
                        {% if todo.category is not null %}
                            {{ todo.category.name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if todo.priority is not null %}
                            {{ todo.priority.name }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_todo_show', {'id': todo.id}) }}">show</a>
                        <a href="{{ path('app_todo_edit', {'id': todo.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_todo_new') }}">Create new</a>
    </div>
{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('react') }}
 {% endblock %}
